.partition-layout__drawing-area {
  width: 100%;
  height: 100%;
}

.partition-layout__arrow {
  fill: #ffffff;
  fill-opacity: .6;
}

.d3-partition-node {
  fill-opacity: .8;
  cursor: pointer;
}

.d3-partition-node__rect {
  rx: 5;
  ry: 5;
}

.d3-partition-node__html {
  overflow: hidden;
}

.d3-partition-node--active {
  fill-opacity: .4;
}

.d3-partition-node--dropable {
  fill-opacity: .7;
}