# dependencies
node_modules/

# build
dist/

# generated reports & docs
coverage/
docs/
reports/

# SonarQube analysis files
.scannerwork/
.sonar/

# system files
.DS_Store
Thumbs.db

# error logs
yarn-error.log
