# compiled output
/dist

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
npm-debug.log*

#System Files
.DS_Store
Thumbs.db

# generated reports & docs
/docs
/reports

# SonarQube
/.sonar
